# render.yaml
services:
  - type: web
    name: design-course-backend
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm run render-start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        sync: false
      - key: DATABASE_URL
        value: file:./db/database.db
      - key: CLIENT_URL
        sync: false
    disk:
      name: sqlite-data
      mountPath: /opt/render/project/src/db
      sizeGB: 1
